.graphnode{
  border-radius: 5px;
  width:180px;
  height:70px;
  background: white;
  /*border: 1px solid darkblue;*/
  color: #5b5959;
  line-height: 16px;
  padding-top: 3px;
  box-shadow: 3px 2px 6px 0px #959799;
  position: relative;
}
.graphnode:hover{
  box-shadow: 3px 2px 6px 0px #2ba5ff;
}

.graphnode.selectedNode{
  box-shadow: 3px 2px 6px 0px #06c94c;
}
.marker{
  width: 20px;
  display: block;
  float: right;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.graphnode .rowlabel, .graphnode .nodeName {
  text-align: left;
  font-weight: 600;
  padding: 0px 5px;
}

/*.graphlayer:hover{
  border:2px solid red;
}*/
