.graphnode{
  border-radius: 5px;
  width:150px;
  height:60px;
  background: cornflowerblue;
  border: 1px solid darkblue;
  color:white;
  line-height: 16px;
  padding-top: 3px;
}

.graphnode .rowlabel, .graphnode .nodeName{
  text-align: center;
}

.graphlayer:hover{
  border:2px solid red;
}
